#counterLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons {
    text-align: center;
}

.btns{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: burlywood;
    transition: background-color 0.5s ;
}

.btns:hover {
    background-color: rgb(236, 151, 39);
}